.localhistory
.ipynb_checkpoints
.*.ipynb
.pytest_cache
*egg-info*
__pycache__
.*
!.gitattributes
devel
output
build
dist
site
htmlcov
Untitled*.ipynb
nohup.out
data
!app/tests/omics/data/
!app/tests/omics/data/**
app/seed/defaults/maxquant/*.zip
node_modules/
logs.log
venv/
!.github/


#Ignore vscode AI rules
.github/instructions/codacy.instructions.md
